.user-picture {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.user-picture img {
  width: 200px;
  height: 200px;
}

.user-picture .nick {
  color: #fff;
  padding: 8px;
  font-size: 24px;
  text-align: center;
  background-color: #242424;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-title {
  width: 400px;
  height: 400px;
  position: absolute;
  font-weight: 700;
  font-size: 42px;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
